Package: lodtenant-cli
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: lodtenant-common, openjdk-8-jre-headless | openjdk-7-jre-headless | openjdk-6-jre-headless 
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: Lodtenant Command Line Interfaces
Distribution: ldstack-nightly
Homepage: https://github.com/GeoKnow/Lodtenant
Vcs-Git: git://github.com/GeoKnow/Lodtenant.git
Vcs-Browser: https://github.com/GeoKnow/Lodtenant
