Package: lodtenant-tomcat7
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: lodtenant-common, xsltproc, tomcat7
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: Lodtenant Common
Distribution: ldstack-nightly
